* {
    margin: 0;
    padding: 0;
}

header {
    padding-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #8A0886;
    text-align: center;
    font-family: 'Georgia';
}

.container {
    margin: auto;
}

.inicio h1 {
    color: #8A0886;
    font-size: 35pt;
    text-align: center;
    font-family: monospace;
    padding-top: 3em;
}

.inicio p {
    font-size: 15pt;
    color: #1C1C1C;
    text-align: center;
}

.inicio img {
    padding-top: 5em;
}

.btn-inicio, .btn-resultado {
    background-color: #FF8000;
    color: #ffffff;
    font-size: 18pt;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: 10px;
}

div#candidatos {
    height: 600px;
    padding-top: 120px;
}

figcaption {
    color: #610B5E;
    text-align: center;
    font-size: 13pt;
}

/*Formatação da Urna*/
div#urna-votacao {
    padding-bottom: 2em;
}

div.urna {
    width: 900px;
    height: 300px;
    border: 2px #610B5E solid;
    border-radius: 10px;
    margin-left: 100px;
}

div.tela-urna {
    width: 600px;
    text-align: center;
    float: left;
}

div.tela-urna p{
    font-size: 15pt;
}

div.teclado {
    width: 250px;
    height: 280px;
    float: left;
    text-align: center;
    background-color: #cecece;
    padding-right: 10px;
    margin-top: 10px;
}

.teclas{
    margin: 10px;
    background-color: black;
    color: #ffffff;
    border-radius: 5px;
    height: 40px;
    width: 80px;
}
button.laranja{
    background-color: #FF8000;
    border-radius: 5px;
}

button.verde {
    background-color: #088A08;
    border-radius: 5px;
}

.btn-resultado {
    margin-left: 380px;
}

div.resultados {
    margin-top: 50px;
    margin-bottom: 70px;
}

div.resultados p {
    font-size: 15pt;
    text-align: center;
    font-family: sans-serif;
}


/*Fim da formatação da Urna */
footer {
    height: 100px;
    background-color: black;
    color: #ffffff;
    padding-top: 15px;
    text-align: center;
}